<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lg.auth.mapper.MenuMapper">
    <select id="selectPageInfo" resultType="menuVo">
        select * from menu
        <where>
            <if test="menuVo.name!=null">
                name like '%${menuVo.name}%'
            </if>
            <if test="menuVo.parentId!=null">
                and parentId=#{menuVo.parentId}
            </if>
        </where>
    </select>
</mapper>
